<%= simple_form_for @post do |f| %>
    <div class="form-group">
      <%= f.input :title,label:"标题",input_html:{class: "from-control"} %>
      <%= f.input :content,label:"内容",input_html:{class: "form-control",rows: "10"} %>
    </div>
    <%= f.submit "提交",disable_with: "提交中..." ,class: "btn btn-primary" %>

<% end %>